{% extends 'givmed/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags}}">
                    {{ message }}
                </div>    
            {% endfor  %}
        {% endif  %}
        
    </div>

    <div class="fstdsc "> 
        <h1>Why Medicine?</h1> <br>
        <h3>Because our health is a fundamantal part of being human. <br> Without it, we have nothing.</h3>
        <h6>MedCOI described the informal sector as comprising pharmacies, 
            retail medicine (drug) shops and traditional healers.  <br>
            MedCOI noted:   ‘Accessibility is very high, with 80% of the population 
            seeking medical care through this network.
            Healthcare providers in the informal sector are used by those 
            who are unable to afford either the treatment or the cost
            of travel to health facilities further away, or by those who are 
            terminally ill and seek alternatives to the 
            general healthcare or are in need of counselling. The informal
            sector is the principal provider in rural areas. </h6>
    </div>
    <div>
        <h4>How does it work?</h4>
        
        <table>
            <tr>
                <td><img src="{% static 'rbs1.png' %}" alt="rbs1" class="rbs"></td>
                <td><img src="{% static 'rbs2.png' %}" alt="rbs2" class="rbs"></td>
                <td><img src="{% static 'rbs3.png' %}" alt="rbs3" class="rbs"></td>
            </tr>
            <tr>
                <td>Answer a few simple questions and sign our agreement to medicine.</td>
                <td>We’ll send everything you need to ship. Place medicines in the provided box, and we’ll schedule a pickup through Pathao.</td>
                <td>We provide a full record of the donation, along with the impact it had on the community.</td>
            </tr>
        </table>
    </div>

{% endblock content %}    
