{% extends 'givmed/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="cointainer jumbotron">
        <div class="container jumbotron">
            <div class="container jumbotron">
                <h1>Reset you password. </h1>
               <form  method="POST">
                {% csrf_token %}
                   {{form | crispy}}
                   <button type="submit" class="btn btn-outline-info">reset</button>
               </form>

               
           </div>
        </div>
    </div>

{% endblock content %}