{% extends 'givmed/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if validlink %}
    <div class="cointainer jumbotron">
        <div class="container jumbotron">
            <div class="container jumbotron">
                <h1>Enter your new password </h1>
                    <form  method="POST">
                        {% csrf_token %}
                        {{form | crispy}}
                        <button type="submit" class="btn btn-outline-info">Confirm</button>
                    </form>
               
           </div>
        </div>
    </div>
{% else %}
    <h1 class='cointainer jumbotron'>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</h1>
{% endif %}
{% endblock content %}
